@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700';
body {
  padding-top: 10px;
  background-color: #eff0f4;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}
.navbar-default {
  background-color: #eff0f4;
  margin-bottom: 10px;
}
#run-control-toolbar {
  display: inline-block;
}
.navbar.navbar-default {
  border-radius: 0;
  height: 50px;
  border: none;
}
.navbar.navbar-default .navbar-nav > .open > a,
.navbar.navbar-default .navbar-nav > .open > a:focus,
.navbar.navbar-default .navbar-nav > .open > a:hover {
  background-color: #fefefe;
}
.sidebar-app-name {
  font-size: 160%;
  height: 60px;
  color: white;
  margin: -10px -20px 10px;
  padding-top: 20px;
  text-align: center;
}
.login-app-name {
  font-size: 180%;
  padding-bottom: 20px;
  color: black;
  text-align: center;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: #222733;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #99a3bb;
}
.nav-sidebar li:hover,
.nav-sidebar li > a:hover {
  background-color: #222733;
  border: none;
  color: white;
}
.nav-sidebar .active a,
.nav-sidebar .active a:hover,
.nav-sidebar .active a:active {
  color: white;
  background-color: #222733;
}
.nav-sidebar-subnav {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  padding-left: 50px;
}
.nav-sidebar-subnav li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #99a3bb;
}
.nav-sidebar-subnav li:hover,
.nav-sidebar-subnav li > a:hover {
  background-color: #222733;
  border: none;
  color: white;
}
.nav-sidebar-subnav .active a,
.nav-sidebar-subnav .active a:hover,
.nav-sidebar-subnav .active a:active {
  color: white;
  background-color: #222733;
}
.panel {
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.panel-default .panel-heading {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 300;
  color: #555555;
  font-size: 120%;
}
.panel-status {
  display: flex;
  align-items: center;
  height: 100px;
  vertical-align: middle;
}
.panel-status .status-text {
  font-size: 200%;
  font-weight: 300;
  color: white;
  display: inline;
  position: relative;
}
.panel-status .status-icon {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 60px;
  opacity: 0.3;
  color: white;
}
.source-ctrl-btn,
a > .source-ctrl-btn {
  color: black;
}
.source-ctrl-btn:hover,
a > .source-ctrl-btn:hover {
  color: #808080;
}
.bg-color-idle {
  background-color: #50514f;
}
.bg-color-ready {
  background-color: #247ba0;
}
.bg-color-running {
  background-color: #70c1b3;
}
.bg-color-error {
  background-color: #f25f5c;
}
.bg-color-intermediate {
  background-color: #6c8484;
}
.login-page {
  background-color: #222733;
}
#login-panel {
  width: 400px;
  height: 300px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
