{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Status - AT-TPC DAQ{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Run Timer
                </div>
                <table class="table">
                    <tr>
                        <th>Start time:</th>
                        <td id="start-time">{{ latest_run.start_datetime|date:'M d Y, H:i:s'|default:'No runs' }}</td>
                    </tr>
                    <tr>
                        <th>Current run duration:</th>
                        <td id="run-duration">{{ latest_run.duration|default:'No runs' }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Run Information
                </div>
                <table class="table">
                    <tr>
                        <th>Experiment name:</th>
                        <td>{{ experiment.name }}</td>
                    </tr>
                    <tr>
                        <th>Run number:</th>
                        <td id="run-number">{{ latest_run.run_number|default:'None' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            DAQ Status
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h4>Overall status: <span class="label label-success" id="overall-status-label">Idle</span></h4>
                </div>
                <div class="col-md-4 text-right">
                    <div class="btn-toolbar" id="run-control-toolbar">
                        {% with aSource=data_sources.first %}
                        <button class="btn btn-info" data-daq-state-target="{{ aSource.DESCRIBED }}" id="btn-describe-all"
                                title="Describe" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-server"></span>
                        </button>
                        <button class="btn btn-info" data-daq-state-target="{{ aSource.PREPARED }}" id="btn-prepare-all"
                                title="Prepare" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-link"></span>
                        </button>
                        <button class="btn btn-info" data-daq-state-target="{{ aSource.READY }}" id="btn-configure-all"
                                title="Configure" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-cog"></span>
                        </button>
                        <button class="btn btn-success" data-daq-state-target="{{ aSource.RUNNING }}" id="btn-start-all"
                                title="Start" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-play"></span>
                        </button>
                        <button class="btn btn-danger" data-daq-state-target="{{ aSource.READY }}" id="btn-stop-all"
                                title="Stop" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-stop"></span>
                        </button>
                        <button class="btn btn-warning" data-daq-state-target="{{ aSource.IDLE }}" id="btn-reset-all"
                                title="Reset" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-repeat"></span>
                        </button>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Selected Config</th>
                <th class="shrink"></th>
            </tr>
            {% for source in data_sources %}
            <tr>
                <td>{{ source.name }}</td>
                <td id="{{ source.name }}-status-cell" data-daq-source-id="{{ source.pk }}">
                    <span class="label label-default" data-daq-source-id="{{ source.pk }}" id="{{ source.name }}-status-label">
                        {{ source.get_state_display }}
                    </span>
                    <span class="fa fa-pulse fa-spinner" id="{{ source.name }}-status-spinner" data-daq-source-id="{{ source.pk }}"></span>
                </td>
                <td>{{ source.selected_config }}</td>
                <td class="text-right">
                    <div class="btn-toolbar" id="{{ source.name }}-source-controls">
                        <button class="btn btn-xs btn-info" data-daq-source-id="{{ source.pk }}" data-daq-state-target="{{ source.DESCRIBED }}"
                                title="Describe" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-server"></span>
                        </button>
                        <button class="btn btn-xs btn-info" data-daq-source-id="{{ source.pk }}" data-daq-state-target="{{ source.PREPARED }}"
                                title="Prepare" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-link"></span>
                        </button>
                        <button class="btn btn-xs btn-info" data-daq-source-id="{{ source.pk }}" data-daq-state-target="{{ source.READY }}"
                                title="Configure" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-cog"></span>
                        </button>
                        <button class="btn btn-xs btn-success" data-daq-source-id="{{ source.pk }}" data-daq-state-target="{{ source.RUNNING }}"
                                title="Start" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-play"></span>
                        </button>
                        <button class="btn btn-xs btn-danger" data-daq-source-id="{{ source.pk }}" data-daq-state-target="{{ source.READY }}"
                                title="Stop" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-stop"></span>
                        </button>
                        <button class="btn btn-xs btn-warning" data-daq-source-id="{{ source.pk }}" data-daq-state-target="{{ source.IDLE }}"
                                title="Reset" data-toggle="tooltip" data-placement="bottom">
                            <span class="fa fa-repeat"></span>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="alerts">
    </div>


{% endblock %}

{% block scripts %}
<script>
    function redraw_status($label, $spinner, state_res) {
        // Update label
        if (state_res.success) {
            $label.text(state_res.state_name);
        }
        else {
            $label.text('Error');
        }
        set_label_color($label, state_res.state);

        // Update spinner and visibility
        if (state_res.transitioning) {
            $spinner.show();
            $label.hide();
        }
        else {
            $spinner.hide();
            $label.show();
        }
    }

    function set_label_color($label, state) {
        $label.removeClass();
        $label.addClass('label');
        {% with aSource=data_sources.first %}
        if (state == {{ aSource.IDLE }}) {
            $label.addClass('label-default');
        }
        else if (state < {{ aSource.READY }}) {
            $label.addClass('label-info');
        }
        else if (state == {{ aSource.READY }}) {
            $label.addClass('label-success');
        }
        else if (state == {{ aSource.RUNNING }}) {
            $label.addClass('label-primary');
        }
        else {
            $label.addClass('label-danger');
        }
        {% endwith %}
    }

    function get_state(pk) {
        return $.get("{% url 'daq/source_get_state' %}", {pk: pk});
    }

    function refresh_state_all() {
        return $.get("{% url 'daq/source_refresh_state_all' %}");
    }

    function handle_refresh_state_all_results(data) {
        $overall_label = $("#overall-status-label");
        $overall_label.text(data.overall_state_name);
        set_label_color($overall_label, data.overall_state);

        $.each(data.individual_results, function (index, value) {
            handle_state_change_result(value);
        });
    }

    function check_for_state_changes() {
        refresh_state_all().success(handle_refresh_state_all_results);
    }

    function change_state(pk, target) {
        return $.post("{% url 'daq/source_change_state' %}",
                {pk: pk, target_state: target, csrfmiddlewaretoken: '{{ csrf_token }}'});
    }

    function change_state_all(target) {
        return $.post("{% url 'daq/source_change_state_all' %}",
                      {target_state: target, csrfmiddlewaretoken: '{{ csrf_token }}'});
    }

    function add_alert(message) {
        var alert_html = '<div class="alert alert-dismissable alert-danger fade in">Error: ' + message + '</div>';
        var $alerts = $('#alerts');
        if ($alerts.children('.alert').size() >= 5) {
            $alerts.children('.alert:first-child').alert('close');
        }
        $alerts.append(alert_html);
    }

    function add_error_popover(pk, message) {
        var $label = $('[id*="status-label"][data-daq-source-id=' + pk + ']');
        $label.data('title', 'Error message');
        $label.data('content', message);
        $label.data('toggle', 'popover');
        $label.data('trigger', 'hover');
        $label.popover();
    }

    function remove_error_popover(pk) {
        $('[id*="status-label"][data-daq-source-id=' + pk + ']').popover('destroy');
    }

    function handle_state_change_result(data) {
        var pk = data.pk;
        var $label = $('[id*="status-label"][data-daq-source-id=' + pk + ']');
        var $spinner = $('[id*="status-spinner"][data-daq-source-id=' + pk + ']');

        if (!data.success) {
            add_error_popover(pk, data.error_message);
        }
        else {
            remove_error_popover(pk);
        }

        redraw_status($label, $spinner, data);
    }

    function handle_run_start_stop(response) {
        $("#start-time").text(response.start_time);
        $("#run-number").text(response.run_number);
    }

    $(document).ready(function() {
        // Set up the control buttons
        $("[id*='source-controls'] > button").click(function () {
            var pk = $(this).data('daq-source-id');
            var target = $(this).data('daq-state-target');
            change_state(pk, target).success(handle_state_change_result);
        });

        $("#run-control-toolbar").children("button").click(function () {
            var target = $(this).data('daq-state-target');
            change_state_all(target).success(function (data) {
                handle_refresh_state_all_results(data);
                handle_run_start_stop(data);
            });
        });

        // Enable tooltips
        $('[data-toggle="tooltip"]').tooltip();

        // Check periodically for changes in state
        check_for_state_changes();
        setInterval(check_for_state_changes, 5000);
    });
</script>
{% endblock %}