{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AT-TPC DAQ{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/flatly.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block scripts %}{% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">AT-TPC DAQ</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
{#            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#                <ul class="nav navbar-nav">#}
{#                    <li class=""><a href="">Status</a></li>#}
{#                </ul>#}
{#            </div><!-- /.navbar-collapse -->#}
        </div><!-- /.container -->
    </nav>
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% block sidebar %}
                <ul class="nav nav-sidebar">
                    <li class="{% active request 'status' %}"><a href="{% url 'daq/status' %}">Status</a></li>
                    <li class="{% active request 'run' %}"><a href="{% url 'daq/run_list' %}">Run metadata</a></li>
                    <li class="{% active request 'sources' %}"><a href="{% url 'daq/data_source_list' %}">Data sources</a></li>
                    <li class="{% active request 'data_router' %}"><a href="{% url 'daq/data_router_list' %}">Data routers</a></li>
                    <li class="{% active request 'ecc' %}"><a href="{% url 'daq/ecc_server_list' %}">ECC servers</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                 {% block breadcrumbs %}
                 {% endblock %}

                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>