{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Data Routers - AT-TPC DAQ{% endblock %}


{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <a class="btn btn-primary btn-xs pull-right" href="{% url 'daq/add_data_router' %}">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
                <span>Data Routers</span>
            </span>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>IP Address</th>
                <th>Port</th>
                <th>Type</th>
                <th></th>
            </tr>
            {% for server in datarouter_list %}
            <tr>
                <td>{{ server.name }}</td>
                <td>{{ server.ip_address }}</td>
                <td>{{ server.port }}</td>
                <td>{{ server.type }}</td>
                <td class="text-right">
                    <a role="button" class="btn btn-xs btn-default"
                       href="{% url 'daq/update_data_router' server.pk %}">
                        <span class="glyphicon glyphicon-wrench"></span> Edit
                    </a>
                    <a role="button" class="btn btn-xs btn-danger"
                       href="{% url 'daq/remove_data_router' server.pk %}">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}